<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="min-width:800px;min-height:600px;width:800px;height:600px;position:relative">
    <div class="container body-content">
        @RenderBody()

        <footer style="position:absolute;bottom:0px;width:100%">
            <hr />
            <p>&copy; @DateTime.Now.Year - My Game</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
